/firmware/*.elf
/firmware/fatfs/*.o
/firmware/m68k/savestate.bin
/firmware/m68k/savestate.elf
/firmware/m68k/savestate.o
/firmware/*.o
/genthang_upload_flash.bin
/impl/gwsynthesis/
/impl/pnr/
/impl/temp/
__pycache__/
/release/
/release-*/
/verilator/fw8.hex
/verilator/*.hex
/verilator/*.img
/verilator/obj_*/
/verilator/rom16.hex
/verilator/rom32.hex
/verilator/rom8.hex
/verilator/run/
/verilator/sd.img
/verilator/ss.img
.vscode/
*.kate-swp
*.swp
